body, html { font-family: Verdana; font-size: 9pt; }

pre { 
  font-family: Monaco; 
  font-size: 9pt; 
  margin: 1em;
  padding: 1em;
  background: #eff2ff;
  border: 1px dotted #aaaaaa;
}

h1, h2 { font-weight: normal; color: #933; } 
h1 { margin-top: 1.5em; font-size: 14pt; }
h2 { font-size: 11pt; }

ul { padding: 0em; }
ul li { margin-left: 2em; }

table, tr, td { font-size: 9pt; border: 0; }
th { align: left; border: 0 0 1px 0; }

dd { color: #666666; font-style: italic; font-size: 8pt; margin-left: 2em; }
blockquote { font-size: 9pt; line-height: 1.5; font-style: italic; }

cite { font-family: Monaco; font-style: normal; font-size: 9pt; }

.docinfo-name { display: none; }
.docinfo { color: #933; font-style: italic; }