Host *
  ForwardX11 yes

ForwardAgent yes
HashKnownHosts yes

Host idldev.com
  ForwardX11 yes
  ForwardX11Trusted yes

Host svn.code.sf.net
  User michaelgalloy

Host michaelgalloy.com
  User michgal2
  Port 2233

Host github.com
  ForwardX11 no
  ForwardX11Trusted no

Host seabass
  HostName seabass.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host kodiak
  HostName kodiak.mlso.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host dusk
  HostName dusk.mlso.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host kaula
  HostName kaula.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host mahi
  HostName mahi.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host compdata
  HostName compdata.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host mlsodata
  HostName mlsodata.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host dawn
  HostName dawn.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host sunrise
  HostName sunrise.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host twilight
  HostName twilight.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host sunset
  HostName sunset.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host sundog1
  HostName sundog1.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host sundog2
  HostName sundog2.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host sundog3
  HostName sundog3.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host datertot
  HostName datertot.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes

Host gate
   HostName gate.ucar.edu
