ForwardAgent yes
HashKnownHosts yes

Host idldev.com
  ForwardX11 yes
  ForwardX11Trusted yes

Host svn.code.sf.net
  User michaelgalloy

Host michaelgalloy.com
  User michgal2
  
Host github.com
  ForwardX11 no
  ForwardX11Trusted no

Host pike.hao.ucar.edu
  ForwardX11 yes
  ForwardX11Trusted yes
